= turbo_stream.replace 'remote_modal' do
  = render partial: 'devise/registrations/form', layout: 'layouts/main_modal',
                                                 locals: { title: "Edit User",
                                                           submit_text: 'Update' }
