.fa-solid {
  text-decoration: none;
}

.fa-pencil {
  color: green;

  &:hover {
    color: darkgreen;
  }
}

.fa-trash {
  color: red;

  &:hover {
    color: darkred;
  }
}

.fa-list-ul {
  color: blue;

  &:hover {
    color: darkblue;
  }
}