= turbo_stream.replace 'remote_modal' do
  = render partial: 'categories/form', layout: 'layouts/main_modal',
                                     locals: { title: "New Category",
                                               submit_text: 'Create' }
