= turbo_frame_tag :remote_modal, target: :_top do
  .modal.fade{'data-controller': 'modal'}
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h5.modal-title
            = title
          %button.btn-close{type: 'button',
                            'data-bs-dismiss': 'modal',
                            'aria-label': 'Close'}
        .modal-body
          .main-modal-form
            = yield
