= turbo_stream.replace 'remote_modal' do
  = render partial: 'accounts/form', layout: 'layouts/main_modal',
                                     locals: { title: "New Account",
                                               submit_text: 'Create' }
